{
  "parser": "babel-eslint",
  "extends": "prettier",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      2,
      {
        "printWidth": 120,
        "semi": false,
        "singleQuote": true
      }
    ]
  }
}
