doctype html
html
  head
    title TouchLite Demo
    //link(rel="stylesheet", href="//unpkg.com/normalize.css")
    link(rel="stylesheet", href="./index.css")
  body
    #demo
    //script(src="../dist/touch.js")
    script(src="//unpkg.com/touch-lite")
    script(src="./index.js")
